
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Rye&display=swap');
:root {
    --main-color: rgb(213, 82, 59);
    --main-dark: #252439;
    --sec-dark: #302f43;
    --white: #ffffff;
    --text-grey: rgba(0,0,0,.5);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline: none;
}

.main-container {
    display: flex;
    height: 60px;
    border-top: 3px solid var(--main-color);
    border-bottom: 3px solid var(--main-color);
    padding-top: 10px;
}
.upper-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);

        .h1 {
            font-size: 700;
        }
}

.nav {
    display: flex;
    margin-left: 100px;
    justify-content: center center;
    font-weight: 600;
    font-size: medium
;
        .nav-tabs{
            gap: 10px;
        }
        .nav-tabs .nav-link.active {
            background: var(--main-color);
            color: #fff;
            border: 3px solid var(--main-color);
        }
        
        .nav-tabs .nav-link {
            background-color: #fff;
            color: #9400d3;
            border: 3px solid #9400d3;
            margin-right: 2rem;
            padding-left: 3rem;
            padding-right: 3rem;
        }
        
        .nav-tabs .nav-link:hover {
            border: 3px solid #9400d3;
        }
        
        .nav-tabs {
            border-bottom: 1px solid #9400d3;
        }
}

.container1 {
    width: 40%;
}

/* .dimension {
    width: 500px;
    height: 300px;
}

.nav-tabs .nav-link.active {
    background-color: #9400d3;
    color: #fff;
    border: 3px solid #9400d3;
}

.nav-tabs .nav-link {
    background-color: #fff;
    color: #9400d3;
    border: 3px solid #9400d3;
    margin-right: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.nav-tabs .nav-link:hover {
    border: 3px solid #9400d3;
}

.nav-tabs {
    border-bottom: 1px solid #9400d3;
}

.tab-content {
    border: 1px solid #9400d3;
    padding: 20px;
} */